body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #4207a8;
  color: white;
  margin: 10px 15px 10px 0;
  border: 3px solid #4207a8;
  border-radius: 25%;
}

.btn:hover {
  background-color: #b48df7;
  color: black;
  border: #b48df7;
}

/* HOME */
.home {
  text-align: center;
}

/* HEADER */
.jumbotron {
  padding: 1rem 0 2rem 2rem;
  text-align: center;
}

h1, h3 {
  font-variant: small-caps;
}

nav {
  display: grid;
}

form {
  text-align: center;
  display: inline-block;
  margin: auto;
}

.signup-form, .login-form {
  display: flex;
}

.error-text {
  color: red;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 18px;
}

/* FOOTER */
footer {
  background-color: grey;
  color: whitesmoke;
  text-align: center;
  margin-top: 2rem;
}

/* DASHBOARD */
.dashboard {
  text-align: center;
}

/* CHECKBOOK */
.checkbook, .transactions table thead tr th {
  text-align: center;
}

table {
  width: 80%;
  display: inline-table;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.total {
  text-decoration: underline;
  font-weight: bold;
}